#internshipFormMain {
  max-width: 100vw;
  //*-temp
  //height: 100vh;
  display: flex;
  padding: 6vw 6vw;

  .internship-form-container {
    width: 100%;

    .formElement {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      padding-bottom: 20px;

      .checkbox {
        width: fit-content;
      }
    }
  }
}

/* //*------------> tablet

@media screen and (min-width: 820px) {
}
 */
//*---------->> desktop

@media screen and (min-width: 1025px) {
  #internshipFormMain {
    padding: 6vw 10vw;
  }
}
