#internshipFormMain {
  position: relative;
  z-index: 9999;
  max-width: 100vw;
  //*-temp
  //height: 100vh;
  display: flex;
  padding: 6vh 6vw;

  .internship-form-container {
    width: 100%;

    .form-title {
      button {
        width: fit-content;
      }

      margin-bottom: 10px;

      .title-desc {
        width: 100%;
        margin-bottom: 5px;
        font-size: small;
      }
    }

    .formElement {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      padding-bottom: 20px;

      .checkbox {
        width: fit-content;
      }
    }
  }
}

//*------------> tablet

@media screen and (min-width: 820px) {
  #internshipFormMain {
    .internship-form-container {
      .form-title {
        .title-desc {
          width: 50%;
        }
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #internshipFormMain {
    padding: 6vh 20vw;

    .internship-form-container {
      .form-title {
        .title-desc {
          width: 40%;
        }
      }
    }
  }
}

/* .rt-DialogContent {
  height: 75dvh;
} */

.open {
  height: 75dvh;
}

#internship-closed {
  max-width: 100vw;
  padding: 6vh 6vw;

  display: grid;
  place-content: center;

  .card {
    padding: 20px;

    .flex {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 2rem;
      }

      a {
        text-decoration: none;
        background-color: blue;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 10px;
        display: grid;
        place-content: center;
      }
    }
  }
}

//*------------> tablet

@media screen and (min-width: 820px) {
  #internship-closed {
    height: calc(100dvh - 111px);
    padding: 0 6vw;
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #internship-closed {
    padding: 0 25vw;
  }
}
