*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #181d2b;
  color: white;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  max-width: 100vw;
  height: 50px;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

  .logo-svg {
    width: 150px;
    .cls-1 {
      fill: #fff;
    }

    .cls-2 {
      fill: #36f;
    }
  }
}

#naa {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 2rem;

    &:nth-of-type(2) {
      font-size: 1rem;
    }
  }

  a {
    margin-top: 10px;
    background-color: #36f;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
  }
}

#formData {
  h3 {
    margin-bottom: 10px;
  }

  max-width: 100vw;
  padding: 4vw;

  .blue {
    color: #00a2c7;
  }

  .green {
    color: #29a383;
  }

  .white {
    color: white;
  }
}

.cl-userButtonPopoverFooter {
  display: none;
}
